* {
    background-color: rgb(67, 28, 67);
    font-family: "American Typewriter", 'Courier New', Courier, monospace ;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 20px;
}

h1, a:hover {
    color: rgb(67, 28, 67);
    background-color: goldenrod;

}

a, nav, h1 {
    text-align: center;
}

h1, h2, a {
    font-family: Papyrus , serif;
}

h2 {
    font-weight: lighter;
    text-decoration: underline;
    font-size: 30px;
}

h1 {

    border: teal solid 3px;
    font-size: 50px;
    margin-bottom: 60px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 5px;
}

a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 26px;
    color: goldenrod;
    border: teal solid 2px;
}

img {
    width: 40%;
    margin: auto;
    display: block;
}
